@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@mixin header {
    font-family: 'Roboto';
    font-weight: 800;
    color: #082567;
    font-size: 75px;
    text-align: center;
}
